html, body {
  font-size: 14px;
  height: 100%;
}

#sidebar {
  width: 20rem;
  float: left;
  height: 100%;
}

#drop-gpx {
  border 3px dashed gray;
}

#map {
  height: 100%;
}

/* old */

.hidden {
  display: none;
}
.overlay {
  font-size: 24px;
  text-align: center;
  padding-top: 20%;
  background: gray;
  color: white;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#paths ul {
  height: 700px;
  overflow: scroll;
}
#paths li {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 2px 0;
}
#paths li:hover {
  background: #63afd0;
  cursor: pointer;
  color: white;
}
#paths li:hover .text-muted {
  color: white;
}
#paths li.selected {
  background: #0772a1;
  color: white;
}
#paths li.selected .text-muted {
  color: white;
}
#map {
  height: 560px;
}
#map .path,
#elevations .line {
  stroke: #0772a1;
  stroke-width: 2;
  fill: none;
}
circle.extrema {
  stroke-width: 2;
  stroke: #ff8700;
  fill: none;
}
#selected-path path,
#selected-elevation path {
  stroke: #ffa540;
  stroke-width: 3;
  fill: none;
}
#selected-path path.stroke,
#selected-elevation path.stroke {
  stroke: #0772a1;
  stroke-width: 5;
}
#elevations .brush rect {
  fill: #63afd0;
  opacity: 0.1;
}
