;; Analyzed by ClojureScript 0.0-3195
{:defs {zoom-to {:protocol-inline nil, :meta {:arglists (quote ([map-pane feature])), :end-column 14, :end-line 3, :column 7, :line 3, :file "/Users/exupero/code/elevations/src/elevations/leaflet.cljs"}, :name elevations.leaflet/zoom-to, :variadic false, :file "src/elevations/leaflet.cljs", :end-column 14, :method-params ([map-pane feature]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 2, :fn-var true, :arglists (quote ([map-pane feature])), :test true}}, :imports nil, :requires nil, :uses nil, :require-macros nil, :use-macros nil, :excludes #{}, :doc nil, :name elevations.leaflet}