.hidden {
  display: none;
}

.overlay {
  font-size: 24px;
  text-align: center;
  padding-top: 20%;
  background: gray;
  color: white;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#paths ul {
  height: 700px;
  overflow: scroll;
}

#paths li {
  border-radius: 10px;
  padding: 5px 10px;
}

#paths li:hover {
  background: mistyrose;
  cursor: pointer;
}

#paths li.selected {
  background: firebrick;
  color: white;
}

#paths li.selected .text-muted {
  color: lightgray;
}

#map {
  height: 560px;
}

#map svg .path {
  stroke: firebrick;
  stroke-width: 2;
  fill: none;
}

#selected-path {
  stroke: lightskyblue;
  stroke-width: 3;
  fill: none;
}

#elevations .line {
  stroke: firebrick;
  stroke-width: 2;
  fill: none;
}

#elevations .brush rect {
  fill: lightskyblue;
  opacity: 0.3;
}
