html, body, #root {
  font-size: 14px;
  height: 100%;
}

#sidebar {
  width: 20rem;
  float: left;
  height: 100%;
  position: relative;
}

#sidebar-inner {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

main {
  height: 100%;
  margin-left: 20rem;
}

#drop-gpx {
  color: steelblue;
  border: 3px dashed steelblue;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5rem;
  bottom: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

#drop-gpx .overlay {
  background: whitesmoke;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  padding-top: 3rem;
  transition: opacity 0.25s ease;
}

#drop-gpx.droppable .overlay {
  opacity: 0.95;
}

#map {
  height: 75%;
}

#path {
  fill: none;
  stroke: steelblue;
  stroke-width: 3;
}

#info {
  height: 25%;
  width: 100%;
  background: whitesmoke;
}

.track {
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  margin: 3px;
  border: 3px solid transparent;
}

.track:hover {
  background: whitesmoke;
}

.track.selected {
  border: 3px solid steelblue;
}

.muted {
  color: gray;
}

/*
.hidden {
  display: none;
}
.overlay {
  font-size: 24px;
  text-align: center;
  padding-top: 20%;
  background: gray;
  color: white;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#paths ul {
  height: 700px;
  overflow: scroll;
}
#paths li {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 2px 0;
}
#paths li:hover {
  background: #63afd0;
  cursor: pointer;
  color: white;
}
#paths li:hover .text-muted {
  color: white;
}
#paths li.selected {
  background: #0772a1;
  color: white;
}
#paths li.selected .text-muted {
  color: white;
}
#map {
  height: 560px;
}
#map .path,
#elevations .line {
  stroke: #0772a1;
  stroke-width: 2;
  fill: none;
}
circle.extrema {
  stroke-width: 2;
  stroke: #ff8700;
  fill: none;
}
#selected-path path,
#selected-elevation path {
  stroke: #ffa540;
  stroke-width: 3;
  fill: none;
}
#selected-path path.stroke,
#selected-elevation path.stroke {
  stroke: #0772a1;
  stroke-width: 5;
}
#elevations .brush rect {
  fill: #63afd0;
  opacity: 0.1;
}
*/
