#paths {
  list-style-type: none;
  margin: 0;
}

#paths li {
  border-radius: 10px;
  padding: 5px 10px;
}

#paths li:hover {
  background: mistyrose;
  cursor: pointer;
}

#paths li.selected {
  background: firebrick;
  color: white;
}

#osm {
  height: 560px;
}

#osm svg .path {
  stroke: firebrick;
  stroke-width: 2;
  fill: none;
}

#osm svg .selected-path {
  stroke: lightgray;
  stroke-width: 8;
  fill: none;
}

#elevations .line {
  stroke: firebrick;
  stroke-width: 2;
  fill: none;
}

#elevations .brush rect {
  fill: lightgray;
  opacity: 0.2;
}
